<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Build Your Own Pizza</title>
	</head>
	<body>
		<h1>Build Your Own Pizza</h1>
		<form action="/build-results" method="POST">
			<span class="bold">Size: </span>
			<select name="sizes" id="size">
				<option name="size" value="Large">Large</option>
				<option name="size" value="Medium">Medium</option>
				<option name="size" value="Small">Small</option>
			</select><br />
			<span class="bold">Choose Your Toppings:</span><input
				name="toppings"
				type="number"
				min="0"
				max="10"
			/><br />
			<ul>
				{{#each toppings}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
			<br />
			<input type="checkbox" name="gluten" /><span class="bold">Gluten Free
				Crust?
			</span>(+ $2.00 extra)
			<br />
			<span class="bold">Special Instructions (Optional)</span>
			<input name="instructions" type="text" />
			<input type="submit" />
		</form>
	</body>
</html>