<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Express Pizza : Home</title>
	</head>
	<body>
		<div id="container">
			<h1>Welcome to Express Pizza</h1>

			<h3>Specialty Pizzas</h3>
			<ul>
				<li><a href="/special?name=Chili+Dog&price=15">Chili Dog Pizza</a></li>
				<li><a href="/special?name=Chicken+Alfredo&price=17">Chicken Alfredo
						Pizza</a></li>
				<li><a href="/special?name=Meat+Monster&price=15">Meat Monster Pizza</a></li>
			</ul>

			<h3>Custom Pizza</h3>
			<a href="/build">Build Your Own!</a>

			<h3>Leave A Review</h3>
			<a href="/review">Leave A Review!</a>
			<img src="/pizza.png" id="image" alt="Italian holding a pizza" />
		</div>
	</body>
</html>