<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Results</title>
	</head>
	<body>
		<div id="container">
		<h1>Thanks for the review!</h1>

		<span class="bold">Your Name: </span>{{name}} <br><br>
		<span class="bold">Comment: </span>{{comment}} <br><br>
		<span class="bold">Rating: </span>{{rating}} <br><br>
		<a href="/">Back To Homepage</a>
	</body>
	</div>
</html>